:root {
  --gray-color-1: hsl(0, 0%, 20%);
  --gray-color-2: hsl(0, 0%, 12%);
  --gray-color-3: hsl(0, 0%, 8%);
  --white-color: hsl(0, 0%, 100%);
  --green-color: hsl(75, 94%, 57%);
  --fronted-color: hsl(189, 49%, 61%);
  --tweeter-color: hsl(203, 84%, 52%);
  --instagram-color-1: hsl(306, 99%, 46%);
  --instagram-color-2: hsl(46, 100%, 48%);
  --instagram-background: linear-gradient(355deg, var(--instagram-color-1), var(--instagram-color-2));
  --linkedin-color-1: hsl(201, 98%, 35%);
  --linkedin-color-2: hsl(198, 97%, 40%);
  --linkedin-background: linear-gradient(var(--linkedin-color-1), var(--linkedin-color-2));

  --font-weight-1: 400;
  --font-weight-2: 550;
  --font-weight-3: 700;
  --font-size: .88rem;

  --image-size: 6.2rem;
}

html, body, main {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size);
}

main {
  background-color: var(--gray-color-3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card {
  background-color: var(--gray-color-2);
  border-radius: .8rem;

  width: 27rem;
  
  margin-inline: 1.5rem;
  padding: 2.8rem 2.8rem 1.8rem 2.8rem;
}
.user-avatar {
  border-radius: 50%;

  width: var(--image-size);
  height: var(--image-size);

  margin: auto;
  margin-bottom: 1.6rem;
}
.user-name {
  color: var(--white-color);

  text-align: center;
  font-weight: var(--font-weight-2);
  font-size: 1.75rem;

  margin-bottom: .3rem;
}
.user-location {
  color: var(--green-color);

  text-align: center;
  font-weight: var(--font-weight-2);
  font-size: 1rem;

  margin-bottom: 1.7rem;
}
.user-description {
  color: rgb(207, 207, 207);

  text-align: center;
  font-size: .99rem;

  margin-bottom: 1.6rem;
}
.gradient-background {
  border: none;
  border-radius: .69rem;
}
.user-links button{
  display: block;

  border: none;
  border-radius: .6rem;

  width: 100%;
  height: 3.2rem;

  background: var(--gray-color-1);

  color: var(--white-color);

  font-size: 1rem;
  font-weight: var(--font-weight-2);

  margin-bottom: 1.1rem;

  transition: .5s ease-in-out;
}
.user-links button:hover {
  cursor: pointer;
}
.github-link:hover,
.github-link:focus {
  background: white;
  color: black;
}
.frontend-mentor-link:hover,
.frontend-mentor-link:focus {
  background: var(--fronted-color);
  color: var(--white-color);
}
.linkedin-link:hover,
.linkedin-link:focus {
  background: none;
  color: var(--white-color);
}
.linkedin-background {
  background-image: var(--linkedin-background);
}
.tweeter-link:hover,
.tweeter-link:focus {
  background: var(--tweeter-color);
  color: var(--white-color);
}
.instagram-link:hover,
.instagram-link:focus {
  background: none;
  color: var(--white-color);
}
.instagram-background {
  background-image: var(--instagram-background);
}
